<div class="container">
  <h1 class="text-center mt-5">Welcome to the Hall of Heroes</h1>
  <div class="row">
    <% @fighters.each do |fighter| %>
      <div class="col-12 col-lg-6">
        <div class="fighter_card">
            <%= render "photo", fighter: fighter %>
          <div class="fighter_card_infos">
            <%= render "fighter_details", fighter: fighter %>
            <%= link_to "Edit", edit_fighter_path(fighter), class: "edit_card" %>
            <%= link_to "See more", fighter_path(fighter), class: "" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
