<div class="navbar navbar-expand-sm navbar-light navbar-custom">
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Hall of warriors", fighters_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create a new character", new_fighter_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
