
  <div class ="navbar">
    <div class="nav-element">
      <%= link_to "Home", root_path, class: "nav-link" %>
    </div>
    <div class="nav-element">
      <%= link_to "Hall of warriors", fighters_path, class: "nav-link" %>
    </div>
    <div class="nav-element">
      <%= link_to "Create a new character", new_fighter_path, class: "nav-link" %>
    </div>
  </div>
