<% top = fighters[0] %>
<% second = fighters[1] %>
<% third = fighters[2] %>

<div class="row">
  <div class="col-12 col-lg-6 offset-lg-3">
    <h3 class = "text-center">Rank 1</h3>
    <%= render "fighter_card", fighter: top %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12 col-lg-6">
    <h3 class = "text-center">Rank 2</h3>
    <%= render "fighter_card", fighter: second %>
  </div>

  <div class="col-12 col-lg-6">
    <h3 class = "text-center">Rank 3</h3>
    <%= render "fighter_card", fighter: third %>
  </div>
</div>
