.banner {
  background-size: cover;
  background-position: center;
  padding: 5em 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner h2, .banner h3 {
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



#banner_colors {
    -webkit-animation: bgcolor 40s infinite;
    animation: bgcolor 20s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}


@keyframes bgcolor {
    0% {
        background-color: #ca792c
    }

    33% {
        background-color: #e6620a
    }

    66% {
        background-color: rgb(255, 33, 70)
    }

    100% {
        background-color: #fd00008a
    }
}
