.fighter_card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
  border-radius: 5px;

}

.fighter_card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.fighter_card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.fighter_card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.fighter_card_infos {
  padding: 16px;
  flex-grow: 1;
  position: relative;
}

.edit_card{
  position: absolute;
  left:1em;
  top: 1em;
}

.delete_card{
  position: absolute;
  right:1em;
  top: 1em;
}
