.form_box{
  border: 0 0 1px grey;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 16px;
}

.upload-photo:hover{
  cursor: pointer;
}
.upload-photo{
  margin: 1em;
}
