.navbar{
  display:flex;
  justify-content: center;

  background: rgb(155, 155, 155);
  height: 5em;

  .nav-element{
    border-radius: 5px;
    margin: 0 2em;
    padding: 10 15px;
    background-color: wheat;
    -webkit-transition: 1.5s;
    .nav-link{
    color: black;
    opacity: 0.7;
    font-size: 40px;
    }
      &:hover {
    box-shadow: 0 1px 1px 1px rgba(rgb(71, 71, 71), 0.6);
    background: rgb(253, 207, 121);
    color: black;
    }
  }

}
