.self-navbar{
  background: rgb(155, 155, 155);
  .nav-element{
    border-radius: 5px;
    padding: 10 15px;
    background-color: wheat;
    -webkit-transition: 1.5s;
    height: 3em;
    line-height: 0.75em;
    margin: 2em;
    .nav-link{
    color: black;
    opacity: 0.7;
    font-size: 40px;
    text-align: center;
    }
      &:hover {
    box-shadow: 0 1px 1px 1px rgba(rgb(71, 71, 71), 0.6);
    background: rgb(253, 207, 121);
    color: black;
    }
  }
}
